<section class="cart">
  <div class="container">
    <div class="text-dark fw-bolder cart__header">Cart ( 3 items )</div>
    <div class="row my-3">
      <div class="col-lg-9 col-12">
        <table class="table table-borderless align-middle">
          <thead>
            <tr>
              <th scope="col" style="width: 40%;" class="text-start me-4 cart__product--title  ">Product</th>
              <th scope="col" style="width: 15%;" class="text-start ms-3 cart__product--title">Price</th>
              <th scope="col" style="width: 15%;"  class="text-center cart__product--title">Count</th>
              <th scope="col" style="width: 10%;"  class="text-center cart__product--title">Total</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="../../../assets/img/cart icons/camera.jpg" alt="" class="cart__product--img">
                  <div class="text-dark fw-bold cart__product--title">Smart Keyboard for 10.5inch iPad Pro - 2021</div>
                </div>
              </td>
              <td class="cart__product--price">$159.00</td>
              <td>
                <div class="d-flex justify-content-center align-items-center">
                  <button type="button" class="btn btn-secondary cart__product--quantity me-3">+</button>
                  <div class="text-dark fs-5">1</div>

                  <button type="button" class="btn btn-secondary cart__product--quantity ms-3">-</button>

                </div>
              </td>
              <td class="fw-bold cart__product--price ms-3">
                $159.00
              </td>
              <td>
                  <img src="../../../assets/img/cart icons/Group 24822.svg" alt="">
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="../../../assets/img/cart icons/camera.jpg" alt="" class="cart__product--img">
                  <div class="text-dark fw-bold cart__product--title">Smart Keyboard for 10.5inch iPad Pro - 2021</div>
                </div>
              </td>

              <td class="cart__product--price">$159.00</td>
              <td>
                <div class="d-flex justify-content-center align-items-center">
                  <button type="button" class="btn btn-secondary cart__product--quantity me-3">+</button>
                  <div class="text-dark fs-5">1</div>

                  <button type="button" class="btn btn-secondary cart__product--quantity ms-3">-</button>

                </div>
              </td>
              <td class="fw-bold cart__product--price">
                $159.00
              </td>
              <td>
                <img src="../../../assets/img/cart icons/Group 24822.svg" alt="">
            </td>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="../../../assets/img/cart icons/camera.jpg" alt="" class="cart__product--img">
                  <div class="text-dark fw-bold cart__product--title">Smart Keyboard for 10.5inch iPad Pro - 2021</div>
                </div>
              </td>

              <td class="cart__product--price">$159.00</td>
              <td>
                <div class="d-flex justify-content-center align-items-center">
                  <button type="button" class="btn btn-secondary cart__product--quantity me-3">+</button>
                  <div class="text-dark fs-5">1</div>

                  <button type="button" class="btn btn-secondary cart__product--quantity ms-3">-</button>

                </div>
              </td>
              <td class="fw-bold cart__product--price">
                $159.00
              </td>
              <td>
                <img src="../../../assets/img/cart icons/Group 24822.svg" alt="">
            </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-3 col-12">
        <app-order-summary></app-order-summary>
      </div>
    </div>
  </div>
</section>

